.example-spacer {
    flex: 1 1 auto;
  }


  .sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px; /* Ancho del menú lateral */
  }
  
  .content {
    padding: 16px; /* Espacio entre el contenido y el menú lateral */
  }
  
  /* Resto de los estilos */
  