<!-- 
<mat-toolbar color="accent">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/users">Usuarios</button>
    <button mat-menu-item routerLink="/blogs">Blogs</button>
    <button mat-menu-item routerLink="/pokemones">Pokemones</button>
    
  </mat-menu>
  <span>PokeAPI</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar> -->

<div class="container">
  <div class="login-box">
    <h2>Iniciar Sesión</h2>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Usuario" [(ngModel)]="username" />
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password" />
    </div>
    <!-- Botón de inicio de sesión -->
    <button class="btn-login" [disabled]="!(username && password)" (click)="login()">Login</button>
    <!-- Botón de registro -->
    <p class="register-text">¿No tienes cuenta? <a (click)="goToRegister()">Registrarse</a></p>
    <button class="btn-facebook">
      <mat-icon class="facebook-icon">facebook</mat-icon> Iniciar Sesión con Facebook
    </button>
    <button class="btn-google">
      <mat-icon class="google-icon">google</mat-icon> Iniciar Sesión con Google
    </button>
  </div>
</div>



