<mat-toolbar color="accent">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>PokeAPI</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <h3 mat-subheader>Opciones</h3>
      <a mat-list-item routerLink="/blog">Blog</a>
      <a mat-list-item routerLink="/pokemones">Pokemones</a>
      <a mat-list-item routerLink="/users">Usuarios</a>
      <a mat-list-item routerLink="/login">Cerrar Sesión</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1>Pokemones principales</h1>

    <mat-grid-list cols="5" rowHeight="350px" gutterSize="16px">
      <mat-grid-tile style="height: 12rem;" *ngFor="
        let pokemon of pokemons.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize)
      ">
        <mat-card class="example-card">
          <img mat-card-image [src]="pokemon.image" alt="{{ pokemon.name }}" />
          <mat-card-content>
            <p>{{ pokemon.name }}</p>
            <p class="description">{{ pokemon.description }}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
